
# Git files to ignore #
.gitignore

# Java gitignore (from GitHub) #
*.class

# Package Files #
*.jar
*.war
*.ear

# LaTeX files to ignore #
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

# PerceptiSys (LaTeX) tool files to ignore #
*.bak
*.bib
*.pdf
logs
tmp
gitHeadInfo.gin
gitLogInfo.tex

# scala artifacts to ignore
.cache
*.class

# sbt eclipse
target
.ivyCache

# other
texStyle/*.synctex.gz
texStyle/*.pdf
texStyle/*.lgout

# jEdit artifacts to ignore
*~
